body{
	background-image: url('foodbackground.jpg');
}

div{
	background-color: white;
	opacity: 0.75;
	text-align: center;
	font-weight: bold;
	padding-bottom: 8px;
	padding-top: 8px;
}

legend{
	text-align: center;
	font-size: 40px;
	color: white;
	font-weight: bold;
	text-shadow: 3px 2px blue;
}

h2{
	text-align: center;
	font-size: 60px;
	color: white;
	font-weight: bold;
	text-decoration: underline;
	text-shadow: 3px 2px blue;
}

p{
	color: red;
	font-style: italic;
	font-size: 20px;

}

ul{
	list-style-type: none; 
}

fieldset{
	border:solid 8px white;
}
