body{
	background-image: url('foodbackground.jpg');
}

div{
	background-color: grey;
	opacity: 0.80;
	text-align: center;
	font-weight: bold;
	padding-bottom: 8px;
	padding-top: 8px;
}

legend{
	text-align: center;
	font-size: 45px;
	color: white;
	font-weight: bold;
	text-shadow: 4px 3px purple;
}

h2{
	text-align: center;
	font-size: 63px;
	color: white;
	font-weight: bold;
	text-decoration: underline;
	text-shadow: 4px 3px purple;
}

p{
	color: purple;
	font-style: italic;
	font-size: 22px;

}

ul{
	list-style-type: none; 
}

fieldset{
	border:solid 7px white;
}
